<!-- <div class="container" *ngFor="let item of signalRService.data">
  <h2>{{ item.data }} : {{ item.label }}</h2>
  <button class="btn btn-primery" (click) = "chartClicked($event)">Click Me</button>
</div>

<br><br>
<ul>
  <li *ngFor='let data of signalRService.bradcastedData'>
    <strong>Label: </strong> {{data.label}} - <strong>Value: </strong> {{data.data[0]}}
  </li>
</ul> -->

<!-- <div class="container">
  <h1>Welcome to Driver Pane</h1>
  <h3>{{ signalRService.bradcastedData.lat }}</h3>
  <h3>{{ signalRService.bradcastedData.lang }}</h3>
  <h3>{{ signalRService.bradcastedData.name }}</h3>
</div> -->